<section class="container" id="HideGalleryOnKeyword">
  <div class="movie-section">
    <ul class="movie-section__card"></ul>
  </div>
  <div class="pagination">
    <div class="pagination__page-ico" id="prev">
      <svg width="16" height="16">
        <use href="/src/images/symbol-defs.svg#icon-arrow-left"></use>
      </svg>
    </div>
    <div class="pagination__outdated" id="prvprv">1</div>
    <!-- podstronyw  klasie "pagination__outdated" są poniżej na sztywno wrzucone, aby mógł css wykonać -->
    <div class="page pagination__outdated" id="prv">1</div>
    <div class="current pagination__current" id="current">1</div>
    <div class="page pagination__outdated" id="nxt">2</div>
    <div class="pagination__outdated" id="nxtnxt">3</div>
    <div class="pagination__page-ico" id="next">
      <svg width="16" height="16">
        <!-- wie jak ktoś te strzałki wizaulnie rozpracować? w trybie "normal" mają jakieś niepotrzebne wypełnienie koło naroznika, w "hover" są same krawędzie ale przy narożnku brak linii-->
        <use href="/src/images/symbol-defs.svg#icon-arrow-right"></use>
      </svg>
    </div>
  </div>
</section>
<script src="/src/js/keyword.js" type="module"></script>
