<header class="Header">
  <div class="HeaderContainer">
    <div class="HeaderNav">
      <a href="index.html">
        <svg class="HeaderSvgFilm">
          <use href="/src/images/symbol-defs.svg#icon-film"></use>
        </svg>
      </a>
      <h1 class="HeaderTitle"><a class="HeaderLinks" href="index.html"> Filmoteka</a></h1>
      <ul class="HeaderUl">
        <li class="HeaderLi"><a class="HeaderLinks HeaderLinkHome" href="index.html">HOME</a></li>
        <li class="HeaderLi"><a class="HeaderLinks" href="my-library.html">MY LIBRARY</a></li>
      </ul>
    </div>
    <form class="HeaderInput">
      <input
        class="HeaderInputText"
        type="text"
        name="searchQuery"
        autocomplete="off"
        placeholder="Movie search"
      />
      <button class="HeaderInputBtn" id="SearchBtn">
        <svg class="HeaderSvgSearch">
          <use href="/src/images/symbol-defs.svg#icon-search"></use>
        </svg>
      </button>
    </form>
    <p class="HeaderInputNotify IsHidden">
      Search result not successful. Enter the correct movie name
    </p>
  </div>

  <script src="/src/js/keyword.js" type="module"></script>
</header>
<div>
  <div class="container">
    <ul class="Gallery GalleryCointainer" id="gallery-main"></ul>
  </div>
  <div class="pagination disabledSearch" id="searchPagination">
    <div class="pagination__page-ico" id="prevSearch">
      <svg width="16" height="16">
        <use href="/src/images/symbol-defs.svg#icon-arrow-left"></use>
      </svg>
    </div>
    <div class="pagination__outdated" id="prvprv">1</div>
    <!-- podstronyw  klasie "pagination__outdated" są poniżej na sztywno wrzucone, aby mógł css wykonać -->
    <div class="pagination__outdated" id="prv">1</div>
    <div class="current pagination__current" id="currentSearch">1</div>
    <div class="pagination__outdated" id="nxt">2</div>
    <div class="pagination__outdated" id="nxtnxt">3</div>
    <div class="pagination__page-ico" id="nextSearch">
      <svg width="16" height="16">
        <!-- wie jak ktoś te strzałki wizaulnie rozpracować? w trybie "normal" mają jakieś niepotrzebne wypełnienie koło naroznika, w "hover" są same krawędzie ale przy narożnku brak linii-->
        <use href="/src/images/symbol-defs.svg#icon-arrow-right"></use>
      </svg>
    </div>
  </div>
  <!-- <div class="pagination">
    <div class="page" id="prevSearch">Previous Page</div>
    <div class="current" id="currentSearch">1</div>
    <div class="page" id="nextSearch">Next Page</div>
</div> -->
</div>
