<div class="modal is-hidden" data-modal>
  <div class="modal__box">
    <div class="modal__close" data-modal-close>
      x
      <!-- <svg width="14" height="14">
            <use href="../test movie/sass/components/symbol-defs.svg#icon-close"></use>
          </svg> -->
    </div>
    <div>
      <!-- <img
          class="modal__poster"
          src="./images/poster.jpg"
          alt="plakat filmu"
          srcset="
            ./images/poster_x2.jpg    370w,
            ./images/poster_x3.jpg 740w
          "
          sizes="(min-width: 1200px) 370px"
        /></div> -->

      <div>
        <div class="modal__tittle-film">A Fistful of lead</div>
        <div class="modal__details">
          <div class="modal__details-left">
            <ul class="modal__list modal__list-left">
              <li>Vote / Votes</li>
              <li>Popularity</li>
              <li>Original Title</li>
              <li>Genre</li>
            </ul>
          </div>
          <div class="modal__details-right">
            <ul class="modal__list modal__list-right">
              <li>
                <span class="modal__vote-details">7.3</span><span class="modal__list-left">/</span
                ><span class="modal__vote-summary">1280</span>
              </li>
              <li>100.2</li>
              <li>A Fistful of lead</li>
              <li>Western</li>
            </ul>
          </div>
        </div>
        <div class="modal__tittle-describe-tittle">About</div>
        <p class="modal__tittle-describe">
          Four of the West’s most infamous outlaws assemble to steal a huge stash of gold from the
          most corrupt settlement of the gold rush towns. But not all goes to plan one is killed and
          the other three escapes with bags of gold hide out in the abandoned gold mine where they
          happen across another gang of three – who themselves were planning to hit the very same
          bank! As tensions rise, things go from bad to worse as they realise the bags of gold are
          filled with lead... they’ve been double crossed – but by who and how?
        </p>
        <div class="modal__buttons">
          <button class="modal__button-watched">add to Watched</button>
          <button class="modal__button-queue">add to queue</button>
        </div>
      </div>
    </div>
  </div>
</div>
