<div class="modalZwiastun hide" data-mod>
  <div class="modal__boxZwiastun">
    <div class="modal__close" data-mod-close>
      <svg class="modal__close-icon" width="32" height="32">
        <use href="/src/images/symbol-defs.svg#icon-close"></use>
      </svg>
    </div>
    <div class="mod">
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/dsmuf95eshk"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
    </div>
  </div>
</div>
