.Footer {
  background-color: #f7f7f7;
  padding-block: 30px;
}
.RightReserved {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  align-items: center;
  text-align: center;

  color: #545454;
}
