.Footer {
  background-color: var(--footer_background);
  padding-block: 30px;
}
.RightReserved {
 
  
  font-weight: 400;
  line-height: 19px;
  align-items: center;
  text-align: center;

  color: var(--footer_text);
}
