// Header

.Header {
  display: flex;
  display: block;
  background-image: url(/src/images/tekstura_2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 230px;

  @media screen and (min-width: 768px) {
    height: 216px;
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url('/src/images/tekstura_2@2x.jpg');
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url('/src/images/tekstura_2@3x.jpg');
  }
}

.HeaderUl {
  list-style: none;
  display: flex;
  display: inline-flex;
}

.HeaderLi {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.1;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
}

.HeaderSvgFilm {
  height: 24px;
  width: 24px;
  margin-right: 112px;

  @media screen and (min-width: 768px) {
    margin-right: 8px;
  }
}

.HeaderSvgSearch {
  height: 12px;
  width: 12px;
}

.HeaderNav {
  padding-bottom: 54px;
  align-items: center;
  display: flex;
  position: relative;

  @media screen and (min-width: 768px) {
    margin-left: 0px;
  }
}

.HeaderContainer {
  padding-top: 40px;
  padding-bottom: 92px;
  align-items: center;
  margin: 0 auto;
  width: 280px;
  height: 146px;

  @media screen and (min-width: 768px) {
    width: 704px;
    height: 95px;
  }

  @media screen and (min-width: 1280px) {
    width: 1216px;
    height: 88px;
  }
}

.HeaderLinks {
  text-decoration: none;
  color: #ffffff;
}

.HeaderLinkHome {
  padding-right: 40px;
}

.HeaderLinkHome::after {
  position: absolute;
  display: block;
  content: '';
  position: absolute;
  width: 34px;
  height: 3px;
  background: #ff001b;
}

.HeaderInput {
  text-align: center;
}

.HeaderInput::after {
  position: absolute;
  display: block;
  content: '';
  position: absolute;
  width: 280px;
  height: 1px;
  background: #ffffff;

  @media screen and (min-width: 768px) {
    margin-left: 212px;
  }

  @media screen and (min-width: 1280px) {
    margin-left: 468px;
  }
}

.HeaderInputText {
  border: none;
  background-color: #0000;
  width: 264px;
  height: 20px;
  outline: none;
  transition: color #ffffff;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.1;
  color: #ffffff;
}

.HeaderInputBtn {
  border: none;
  background: none;
  cursor: pointer;
}

.HeaderTitle {
  @media screen and (min-width: 320px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 1.2;
    color: #ffffff;
    margin-right: 387px;
    margin-top: -1px;
  }

  @media screen and (min-width: 1280px) {
    margin-right: 898px;
  }
}

.IsHidden {
  opacity: 0;
  pointer-events: none;
}

.HeaderInputNotify {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.1;
  text-align: center;
  color: #ff001b;
  padding-top: 16px;
}

// Search by keyword - movie card

.MovieCard {
  overflow: hidden;

  @media screen and (min-width: 768px) {
    width: calc((100% - 32px) / 2);
  }

  @media screen and (min-width: 1280px) {
    width: calc((100% - 2 * 16px) / 3);
  }
}

.MoviePoster {
  overflow: hidden;
  width: 280px;
  height: 398px;

  @media screen and (min-width: 768px) {
    width: 336px;
    height: 466px;
  }

  @media screen and (min-width: 1280px) {
    width: 395px;
    height: 574px;
  }
}

.MoviePosterImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.MovieData {
  padding: 10px 0 0 0;

  @media screen and (min-width: 768px) {
    padding: 8px 0 0 0;
  }

  @media screen and (min-width: 1280px) {
    padding: 12px 0 0 0;
  }
}

.MovieTitle {
  text-transform: uppercase;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.1;
  color: #000000;

  @media screen and (min-width: 768px) {
    line-height: 1.3;
  }

  @media screen and (min-width: 1280px) {
    font-size: 20px;
    line-height: 1.2;
  }
}

.MovieInfo {
  color: #ff6b08;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.1;
  color: #ff6b08;

  @media screen and (min-width: 768px) {
    line-height: 1.3;
  }

  @media screen and (min-width: 1280px) {
    font-size: 20px;
    line-height: 1.2;
  }
}

// Gallery

.Gallery {
  padding-top: 20px;
  padding-bottom: 40px;

  @media screen and (min-width: 768px) {
    padding-top: 59px;
    padding-bottom: 60px;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 60px;
  }
}

.GalleryBcg {
  background-color: #e5e5e5;
}

.GalleryCointainer {
  @extend .container;
  list-style: none;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding-right: 0px;
  padding-left: 0px;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 32px;
    column-gap: 32px;
    padding-right: 12px;
    padding-left: 12px;
  }

  @media screen and (min-width: 1280px) {
    column-gap: 16px;
  }
}

.container-background {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width:100%;
    height:230px;
    background-image: url("/src/images/tekstura3_sm@1x.jpg");
    @media screen and (min-width:768px){
        height:219px;
        background-image: url("/src/images/tekstura3_md@1x.jpg");
    }
    @media sreen and (min-width:1280px) {
        height:216px;
        background-image: url("/src/images/tekstura3_lg@1x.jpg");
    }
}
@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .container-background {
        background-image: url("/src/images/tekstura3_sm@2x.jpg");
        @media (min-width: 768px) and (max-width: 1279px) {
            background-image: url("/src/images/tekstura3_md@2x.jpg");
        }
        @media (min-width: 1280px) {
            background-image: url("/src/images/tekstura3_lg@2x.jpg");
        }
    }
}

.header-library__image-link {
    display:flex;
    align-items: center;
    text-decoration: none;
    position:relative;
    top:40px;
    left:20px;
    @media screen and (min-width:768px) {
        top: 52px;
        left:32px;
    }
    @media screen and (min-width:1280px){
        top:45px;
    }
}
.header-library__image {
    width:24px;
    height:24px;
    fill:var(--header_text)

}
.header-library__image-span {
    display:none;
    @media screen and (min-width:768px) {
        display:flex;
        padding-left:10px;
        font-weight:500;
        font-size:30px;
        color:var(--header_text);
    }
}
.navigation{
    display: flex;
    justify-content: flex-end;
    gap: 39px;
    padding-right: 20px;
    padding-top: 20px;
    @media screen and (min-width:768px) {
        padding-right:32px;
        padding-top:32px;
    }
    @media screen and (min-width:1280px) {
        padding-top:20px;
    }
}
.navigation-list {
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    color: var(--header_text);
}

.buttons {
    display:flex;
    justify-content: center;
    gap: 20px;
    padding-top: 63px;
    padding-bottom: 62px;
    @media screen and (min-width:768px) {
        padding-top:40px;
        gap: 32px;
    }
    @media screen and (min-width:1280px) {
        padding-top:44px;
        gap:16px;
    }
}

.button{
    width:129.53;
    height: 44px;
    border: 1px solid;
    outline-color:  var(--header_text);
    border-color: var(--header_text);
    border-radius: 5px;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    color: var(--header_text);
    background-color: transparent;
    @media screen and (min-width:768px) {
        width:152px;
        height:44px;
    }
    @media screen and (min-width:1280px) {
        width:148px;
        height:42px;
    }
}
.button:focus{
    background-color: var(--button_active);
    border-color: transparent;
}

