.pagination {
  display: flex;
  margin: 20px 30px 40px;
  align-items: center;
  justify-content: center;
  gap: 5px;

  &__page-ico {
    background-color: #f7f7f7;
    stroke: #000;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
    &:hover {
      background-color: #ff6b08;
      stroke: #fff;
      fill: #fff;
    }
  }

  &__current {
    font-size: 12px;
    color: #fff;
    width: 40px;
    height: 40px;
    background-color: #ff6b08;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
      background-color: #ff870b;
    }
  }

  &__outdated {
    font-size: 12px;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-property: all;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
    &:hover {
      background-color: #ff6b08;
      color: #fff;
    }
  }
}
