:root {
  --header_text: #ffffff; //text color in header
  --button_active: #ff6b01; //clicked button color
  --header_underline: #ff001b; //underline in header link
  --main_background: #e5e5e5; //background color in nain
  --text_color_1: #000000; //film tittle color
  --text_color_2: #ff6b08; //film genre
  --text_color_3: #ffffff; //film rating
  --footer_background: #f7f7f7; //footer background color
  --footer_text: #545454; //footer text
  --modal_keys: #8c8c8c; //kees in modal
}
